# LANGSMITH
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="<redacted>"
LANGSMITH_PROJECT="my-llm-project"

# DATABRICKS MLFLOW
DATABRICKS_HOST="<redacted>"
DATABRICKS_TOKEN="<redacted>"
MLFLOW_TRACKING_URI="databricks"
MLFLOW_REGISTRY_URI="databricks-uc"
MLFLOW_EXPERIMENT_ID="<redacted>"
